/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

.icons-social i {
	font-size: 3em;
}

body {
	background-image: url('/images/asiphe-bg.jpg');
	background-size: cover;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

img {
	border-radius: 50%;
	width: 3.5rem;
	margin: 0 auto;
}

.into-text {
	font-size: 2rem;
	display: block;
	color: black;
}

footer {
	text-align: center;
	/* background-color: rgb(124, 167, 167); */
}
