.section__heading {
    background: #fafad2;
	border: 3px solid #fff;
	color: #000;
	border-radius: 8px;
    font-size: 2rem;
    width: 20%;
    position: relative;
    top: 70px;
    left: 10px;
    text-align: center;
}
